 body {
  color: wheat;
  background: rgb(78, 77, 77);
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,193,195,1) 100%); */
  text-align: center;
}

.info {
  background-color: rgba(255, 255, 255, 0.301);
  padding: 20px;
  border-radius: 20px;
}

footer {
  background-color: rgba(255, 255, 255, 0.301);
  padding: 10px;
  border-radius: 20px;
}

.link {
  display: inline-block;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 20px;
  margin-right: 20px;
  color: wheat;
  text-decoration: none;
  border: 1px solid wheat;
  box-shadow: 1px 1px 5px rgba(245, 245, 245, 0.24);
  width: 200px;
}

.link:hover {
  background-color: rgba(245, 245, 245, 0.534);
}

li {
  display: inline-block;
}

img {
  width: 100px;
}

header, footer, main {
  width: 900px;
  margin: auto;
  text-align: center;
}

header {
  height: 18vh;
}

footer {
  height: 15vh;
  width: 880px;
}

h1 {
  padding: 0;
  margin: 10px;
}
label {
  margin: 20px;
}
hr {
  width: 900px;
  margin: 5px auto;
}

.l-list {
  height: calc(100vh - 54vh);
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 20px;
  width: 900px;
  margin: auto;
}

.launch {
  width: 422px;
  float: left;
  padding: 5px;
  height: 120px;
  border: 1px solid whitesmoke;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 20px;
  margin: 5px;
  position: relative;
}

.launch::before {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 100px;
  height: 100px;
  background-color: red;
  z-index: 10;
  border: 2px solid red;
}

.launch:hover {
  background-color: rgba(255, 255, 255, 0.664);
}

img {
  position: absolute;
  top: 5%;
  left: 5px;
  height: 90%;
}

.mission-name {
  position: absolute;
  top: 10px;
  left: 120px;
}

.rocket-name {
  position: absolute;
  top: 50px;
  left: 120px;
}

.mission-date {
  position: absolute;
  top: 50px;
  left: 240px;
}

br {
  margin-top: 5px;
}

select {
  border: 1px solid wheat;
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.301);
}