body {
  background-color: lightgreen;
  padding: 20px;
  text-align: center;
}
.wrapper {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  margin: 0 auto;
  width: 900px;
}

header {
  background-color: darkseagreen;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}

.transaction-input {
  background-color: darkcyan;
  padding: 20px;
}

#btn-add {
  display: block;
  width: 478px;
  margin: 10px auto;
}


.transactions {
  width: 820px;
  background-color: red;
  margin: 10px auto;
}

.incomes, .expenses {
  width: 400px;
  background-color: blue;
}

.incomes {
  float: left;
}

.expenses {
  float: right;
}